@font-face {
  font-family: "unscii";
  src: url("unscii-16.ttf") format("ttf") url("unscii-16.woff") format("woff");
}
h1 {
  color: #fff
}
a {
  color: #5555ff;
  text-decoration: none
}
body {
  font-family: "unscii",monospace;
  background-color: #000;
  color: #aaa;
}

/* the 16 VT100 colors */
.red { color: #a00 }
.green { color: #0a0 }
.brown { color: #a50 }
.blue { color: #00a }
.purple { color: #a0a }
.cyan { color: #0aa }
.white { color: #aaa}

.darkgray { color: #555 }
.brightred { color: #f55 }
.brightgreen { color: #5f5 }
.yellow { color: #ff5 }
.brightblue { color: #55f }
.magenta { color: #f5f }
.brightcyan { color: #5ff }
.brightwhite { color: #fff }

.code { background: #333; color: #fff }

.blink {
  animation: blink 1s infinite
}

@keyframes blink {
  0% { background: #fff }
  49% { background: #fff }
  50% { background: #333 }
  99% { background: #333 }
  100% { background: #fff }
}
