@font-face {
  font-family: "unscii";
  src: url("unscii-16.ttf") format("ttf") url("unscii-16.woff") format("woff");
}
h1 {
  color: #fff
}
a {
  color: #5555ff
}
body {
  font-family: "unscii",monospace;
  background-color: #000;
  color: #aaa;
}
